@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.line__clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.active_tab {
  background-color: #e1e4ea;
  border: 1px solid #cfd2dc;
  color: #636363;
}
